@model ConsumirAPILibreria.Models.ModeloCategoria;
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper" style="padding:18px">
    <div class="col-sm-12">
        <div class="card border-info">
            <div class="card-header bg-info text-white">
                Lista Categorias
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4"> </div>
                </div>
                <hr />
                <div class="row mt-3">
                    <div class="col-sm-12">
                        <table id="tbdata" class="table table-striped table-bordered nowrap compact" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Categoria</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" /> 
    <script src="~/js/CrudCategoria.js"></script>
}